<footer>
    <p style="text-align:center">Project realised by Alin Butnaru and Georgiana Pascaru. Based on work at <a
                xmlns:dct="http://purl.org/dc/terms/" href="https://github.com/AlinNereid/Drool/" rel="dct:source">https://github.com/AlinNereid/Drool/</a>.
        <a href="/login">Admin Login.</a></p>
    <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License"
                                                                             style="border-width:0; display: block; margin:auto"
                                                                             src="http://i.creativecommons.org/l/by/4.0/88x31.png"/></a>
    <!--<span
            xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Digital Currency Tool</span> by <span
            xmlns:cc="http://creativecommons.org/ns#"
            property="cc:attributionName">Alin Butnaru and Georgiana Pascaru</span> is licensed under a <a rel="license"
                                                                                                           href="http://creativecommons.org/licenses/by/4.0/">Creative
        Commons Attribution 4.0 International License</a>.<br/>Based on a work at <a
            xmlns:dct="http://purl.org/dc/terms/" href="https://github.com/AlinNereid/Drool/" rel="dct:source">https://github.com/AlinNereid/Drool/</a>.-->
</footer>