<header>
    <p id="title"><a href="/">Drool (Digital Currency Tool)</a></p>
    <nav>
        <ul>
            <li>
                <a href="/convertor">
                    <p>Convertor</p>
                </a>
            </li>
            <li>
                <a href="/rates">
                    <p>Rates</p>
                </a>
            </li>
            <li>
                <a href="/analysis">
                    <p>Analysis</p>
                </a>
            </li>
        </ul>
    </nav>
</header>