<header>
    <p id="title"><a href = "/">Drool</a>  - <a href = "/controlPanel">Admin Control Panel</a></p>
    <nav>
        <ul>
            <li>
                <a href="/controlpanel/addDigitalCoin">
                    <p>Add Digital Coin</p>
                </a>
            </li>
            <li>
                <a href="/controlpanel/showDigitalCoins">
                    <p>Show Digital Coins</p>
                </a>
            </li>
            <li>
                <a href="/controlpanel/addApi">
                    <p>Add Api</p>
                </a>
            </li>
            <li>
                <a href="/controlpanel/showApis">
                    <p>Show Apis</p>
                </a>
            </li>
            <li>
                <form action="/logout" method="POST">
                    <button>Logout</button>
                </form>
                <!--<a href="./logout">
                    <p>Logout</p>
                </a>-->
            </li>
        </ul>
    </nav>
 </header>