<!DOCTYPE html>
<html>
<%- include layouts/head.ejs%>
<body>
<%- include layouts/headerUser.ejs%>
<main>
    <form action="/admin" method="post">
        <p style="color: red"><%= error %></p>
        User: <input type="text" name="user"><br>
        Password: <input type="password" name="password"><br>
        <input type="submit" value="Submit">
    </form>
</main>
<%- include layouts/footer.ejs%>
</body>
</html>
