<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <script type="text/javascript" src="/javascript/jquery-1.11.0.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/css/stylemedia.css">
</head>
<body>
<header>
    <p id="title">Drool (Digital Currency Tool)</p>
    <nav>
        <ul>
            <li>
                <a href="/convertor">
                    <p>Convertor</p>
                </a>
            </li>
            <li>
                <a href="/rates">
                    <p>Rates</p>
                </a>
            </li>
            <li>
                <a href="/analysis">
                    <p>Analysis</p>
                </a>
            </li>
        </ul>
    </nav>
</header>
<main>
    <p>Admin ControlPanel</p>
</main>
<footer><p>Footer</p></footer>
</body>
</html>
