<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <script type="text/javascript" src="/javascript/jquery-1.11.0.js"></script>
        <script language="javascript" type="text/javascript" src="/javascript/jquery.flot.js"></script>
        <script language="javascript" type="text/javascript" src="/javascript/jquery.flot.time.js"></script>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <script type="text/javascript">


            $(function () {
                $('select').on('change', function (e) {
                    var optionSelected = $("option:selected", this);
                    apiselectat=this.value;
                    clearInterval(updateTimeOut);
                    update();
                });
                var updateTimeOut;
                var data = [],
                        totalPoints = 60;
                var updateInterval = 10000;
                var apiselectat="bitcoinaverageUSD";
                var options= {
                    series: {
                        shadowSize: 0
                    },
                    grid: { hoverable: true, clickable: true },
                    yaxis: {
                    },
                    lines: {
                        show: true
                    },
                    points: {
                        show: true
                    },

                    xaxis: {
                        mode: "time"
                    }

                };
                function onDataReceived(rasp) {
                    console.log("yey");

                    if(rasp){
                        data=[];
                        var date=rasp["date"];
                        for(i=0;i<date.length;i++){
                            data.push([new Date(date[i]["drooltime"] + 3*3600*1000).getTime(),date[i]["last"],{url: date[i]["last"]+"  Date: "+ new Date(date[i]["drooltime"]).toString()}]);
                        }
                        $.plot("#placeholder",[{ label: apiselectat, data: data}], options);
                    }
                }

                var previousPoint = null;
                $("#placeholder").bind("plothover", function (event, pos, item) {
                    $("#x").text(pos.x.toFixed(2));
                    $("#y").text(pos.y.toFixed(2));

                    if (item) {

                        if (previousPoint != item.dataIndex) {
                            previousPoint = item.dataIndex;

                            $("#tooltip").remove();

                            showTooltip(item.pageX, item.pageY,
                                    item.series.data[item.dataIndex][2].url.toString());
                        }
                    }
                    else {
                        $("#tooltip").remove();
                        previousPoint = null;
                    }

                });
                function showTooltip(x, y, contents) {
                    $('<div id="tooltip">' + contents + '</div>').css({
                        position: 'absolute',
                        display: 'none',
                        top: y + 5,
                        left: x + 5,
                        border: '1px solid #fdd',
                        padding: '2px',
                        'background-color': '#fee',
                        opacity: 0.80
                    }).appendTo("body").fadeIn(200);
                }

                function update() {

                    $.ajax({
                        url: "../api/bitcoin/"+apiselectat+"/"+totalPoints,
                        type: "GET",
                        dataType: "json",
                        success: onDataReceived
                    });
                    updateTimeOut=setTimeout(update, updateInterval);
                }

                update();
            });
        </script>
    </head>
    <body>
    <header>
        <p id="title">Drool (Digital Currency Tool)</p>
        <nav>
            <ul>
                <li>
                    <a href="/convertor">
                        <p>Convertor</p>
                    </a>
                </li>
                <li>
                    <a href="/rates">
                        <p>Rates</p>
                    </a>
                </li>
                <li>
                    <a href="/analysis">
                        <p>Analysis</p>
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <div id="content">
            <div class="demo-container">
                <div id="placeholder" class="demo-placeholder" style="float:left;width: 700px"></div>
                <select style="float:right;width:150px">
                    <option value="bitcoinaverageUSD">bitcoinaverageUSD</option>
                    <option value="bitstampUSD">bitstampUSD</option>
                    <option value="btc-eUSD">btc-eUSD</option>
                </select>
            </div>
        </div>
    </main>
    <footer><p>Footer</p></footer>
    </body>
</html>
