<!DOCTYPE html>
<html>
<head>
	<title>Drool</title>
	<script type="text/javascript" src="../public/javascript/jquery-1.11.0.js"></script>
	<script type="text/javascript" src="../public/javascript/javascript.js"></script>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="../public/css/style.css">

</head>
<body>
	<header>
		<p id="title">Drool (Digital Currency Tool)</p>
        <nav>
            <ul>
                <li>
                    <a href="./index.html">
                        <p>Convertor</p>
                    </a>
                </li>
                <li>
                    <a href="./rates.html">
                        <p>Rates</p>
                    </a>
                </li>
                <li>
                    <a href="./analysis.html">
                        <p>Analysis</p>
                    </a>
                </li>
            </ul>
        </nav>
	</header>
	<main>
		<div id="convertor">
			<input placeholder="test" id="input1" type="text" name="val1" size="3">
			<div class="dropdown">
			  	<label id="search1">BitCoin</label>
			    <ul class="menuSearch1">
			        <li>
			              <span>BitCoin</span>
			        </li>
			        <li>
			              <span>left3</span>
			        </li>
			        <li>
			              <span>left4</span>
			        </li>
			    </ul>
			 </div>
			<span>=</span>
			<input id="input2" type="text" name="val2" size="3">
			<div class="dropdown">
			  	<label id="search2">Dolar</label>
			    <ul class="menuSearch2">
			        <li>
			        	<input type="text" id="textField2" placeholder="Search">
			        </li>
			        <li>

			              <span>left2</span>
			            
			        </li>
			        <li>

			              <span>left3</span>

			        </li>
			        <li>

			              <span>left4</span>

			        </li>
			    </ul>
			 </div>
 			<div class="clear"></div>
		</div>
	</main>
	<footer><p>Footer</p></footer>
</body>
</html>
