<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <script type="text/javascript" src="/javascript/jquery-1.11.0.js"></script>
    <script type="text/javascript" src="/javascript/javascript.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/css/stylemedia.css">
</head>
<body>
<header>
    <p id="title">Drool (Digital Currency Tool)</p>
    <nav>
        <ul>
            <li>
                <a href="/convertor">
                    <p>Convertor</p>
                </a>
            </li>
            <li>
                <a href="/rates">
                    <p>Rates</p>
                </a>
            </li>
            <li>
                <a href="/analysis">
                    <p>Analysis</p>
                </a>
            </li>
        </ul>
    </nav>
</header>
<main>
    <div id="convertor">
        <input placeholder="VAL" id="input1" type="text" name="val1" size="3">
        <div class="dropdown">
            <label id="search1"><%= digitalCoins[0] %></label>
            <ul class="menuSearch1">
                <% for(var i=0; i<digitalCoins.length; i++) {%>
                <li><span><%= digitalCoins[i] %></span></li>
                <% } %>
            </ul>
        </div>
        <span>=</span>
        <input id="input2" type="text" name="val2" size="3">
        <div class="dropdown">
            <label id="search2">USD</label>
            <ul class="menuSearch2">
                <li>
                    <input type="text" id="textField2" placeholder="Search">
                </li>
                <% for(var i=0; i<realCoins.length; i++) {%>
                <li><span><%= realCoins[i] %></span></li>
                <% } %>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
</main>
<footer><p>Footer</p></footer>
</body>
</html>
