<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <script type="text/javascript" src="/javascript/jquery-1.11.0.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/css/stylemedia.css">
</head>
<body>
<header>
    <p id="title">Drool - Admin Control Panel</p>
    <nav>
        <ul>
            <li>
                <a href="./addDigitalCoin">
                    <p>Add Digital Coin</p>
                </a>
            </li>
            <li>
                <a href="./showDigitalCoins">
                    <p>Show Digital Coins</p>
                </a>
            </li>
            <li>
                <a href="/analysis">
                    <p>Analysis</p>
                </a>
            </li>
        </ul>
    </nav>
</header>
<main>
    <p>Digital coins</p>
    <% for(var i=0; i<digitalCoins.length; i++) {%>
    <li><span><%= digitalCoins[i]["sname"] %></span><span><%= digitalCoins[i]["lname"] %></span>
        <span><%= digitalCoins[i]["page"] %></span>
    </li>
    <% } %>
</main>
<footer><p>Footer</p></footer>
</body>
</html>
