<!DOCTYPE html>
<html>
<head>
	<title>Drool</title>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="style.css">

</head>
<body>
	<header>Drool (Digital Currency Tool)
		<nav>
			<ul>
				<li>
					<a href="#Convertor">
						<p>Convertor</p>
					</a>
				</li>
				<li>
					<a href="#Rates">
						<p>Rates</p>
					</a>
				</li>
				<li>
					<a href="#Analysis">
						<p>Analysis</p>
					</a>
				</li>
			</ul>
		</nav>
	</header>
	<main>
		<div id="convetor">
			<input type="text" name="val1">
			<select id="select1">
				<option value="volvo">Volvo</option>
				<option value="saab">Saab</option>
				<option value="opel">Opel</option>
				<option value="audi">Audi</option>
			</select>
			<span>=</span>
			<input type="text" name="val2">
			<select id="select2">
				<option value="volvo">Volvo</option>
				<option value="saab">Saab</option>
				<option value="opel">Opel</option>
				<option value="audi">Audi</option>
			</select>
		</div>
	</main>
	<footer>Footer</footer>
</body>
</html>
